.comment-area {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.comment-area input {
  flex: 1;
  height: 35px;
  border: none;
  background: #2a2a2a;
  color: white;
  padding-left: 10px;
  border-radius: 20px;
}

.comments {
  margin-top: 10px;
}

.comment {
  background: #222;
  padding: 10px;
  border-radius: 10px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment button {
  background: red;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
